<div id="homepage-carousel" class="carousel slide" data-ride="carousel" ng-controller="HomeCarouselCtrl as homeCarousel">
    <!-- Indicators for dot nav -->
    <ol class="carousel-indicators">
        <li data-target="app/headercarousel.html#homepage-carousel" ng-repeat="n in carousels"
            data-slide-to="$index" ng-class="{active:isActive(!$index)}"></li>
    </ol>

    <!-- Slide items -->
    <div class="carousel-inner" role="listbox">
        <div class="item" ng-class="{active:!$index}" ng-repeat="carousel in carousels">
            <img src="{{carousel.imageSrc}}" alt="{{carousel.imageAlt}}" class="img-responsive">
        </div>
    </div>

    <!-- Controls for Next and Prev -->
    <a class="left carousel-control" href="app/headercarousel.html#homepage-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="app/headercarousel.html#homepage-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>


</div>