<div class="container" ng-controller="HomeBodyController as home">
    <div class="row" ng-repeat="i in offers">
        <h3>{{i.category}}</h3>
        <div class="col s12 m3" ng-repeat="n in i.offer">
            <div class="card">
                <div class="card-image">
                    <img width="250" height="350" ng-src="{{n.imageSrc}}" alt="{{n.imageAlt}}">
                    <!--<span class="card-title">Card Title</span>-->
                </div>
                <div class="card-content">
                    <p>Description {{n.description}}</p>
                </div>
                <div class="card-action center">
                    <a class="waves-effect waves-light btn">button</a>
                </div>
            </div>
        </div>
    </div>
</div>